<div class="card-container">
    <!-- eventually generate cards from api -->
    <mat-card>
        <!-- <img mat-card-image src='{{pokemonCard}}'/> -->
        Pokemon
    </mat-card>
    <mat-card>
        Pokemon
    </mat-card>
    <mat-card>
        Pokemon
    </mat-card>
    <mat-card>
        Pokemon
    </mat-card>
    <mat-card>
        Pokemon
    </mat-card>
    <mat-card>
        Pokemon
    </mat-card>
    <mat-card>
        Pokemon
    </mat-card>
    <mat-card>
        Pokemon
    </mat-card>
    <mat-card>
        Pokemon
    </mat-card>
    <mat-card>
        Pokemon
    </mat-card>
</div>
