<mat-card class="formContainer">
    <form>
    <h1 class="setHeader">Set Up Game</h1>
  
    <div class="halfContainer">
      <h2 class="matchesHeader">Number of Matches:</h2>
      <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedMatchNum" name='radiobutton'>
        <mat-radio-button [value]="4" class="matchOption">4</mat-radio-button>
        <mat-radio-button [value]="6" class="matchOption">6</mat-radio-button>
        <mat-radio-button [value]="8" class="matchOption">8</mat-radio-button>
        <mat-radio-button [value]="10" class="matchOption">10</mat-radio-button>
      </mat-radio-group>
    </div>
  
    <div class="secondHalf">
      <h2 class="setheader">Set Selection:</h2>
      <mat-form-field appearance="fill">
        <mat-label>Choose a card set</mat-label>
        <mat-select [(ngModel)]="selectedSet" name='dropdown'>
          <mat-option *ngFor="let set of sets" [value]="set.id">{{set.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <h2 class="playerSelectHeader">Select Players:</h2>
    <p>Choose up to 4</p>
      <section class="playerSelect" [(ngModel)]="selectedPlayers">
        <mat-checkbox *ngFor="let player of players" [value]="player.id">{{player.username}}</mat-checkbox>
      </section>
  
    
  </form>
  <div class="startButton">
    <button mat-button color="primary" (click)='startGame()'>Start Game</button>

    <button type="button" (click)="getPlayers()">retrieve data</button>

</div>
</mat-card>