<!-- GAMEPLAY SIDEBAR AND TIMER
  Navbar once completed will go here
  <mat-drawer-container class="sidenav">
<app-top-navbar></app-top-navbar>
<mat-drawer-container class="sidenav">
  <mat-drawer mode="side" opened>
    <div class="mainSideContainer">
      <div class="playersContainer">
    <h1 class="players">Players</h1>

    <mat-list>
      <mat-list-item>  <h2 class="player">UsernameOne <span class="score">3</span></h2> </mat-list-item> 
      <mat-list-item>  <h2 class="player">UsernameTwo <span class="score">0</span></h2>  </mat-list-item>
      <mat-list-item>  <h2 class="player">UsernameThree <span class="score">2</span></h2> </mat-list-item>
      <mat-list-item>  <h2 class="player">UsernameFour <span class="score">1</span></h2>  </mat-list-item>
     </mat-list>
  </div>

  <div class="gameInfo">
   <h1 class="matchesLeft">MATCHES LEFT:</h1> 
    <div id="matchesLeftId">8</div>

    <h1 class="totalRounds">TOTAL ROUNDS PLAYED:</h1>
    <div id="totalRoundsId">8</div>
  </div>
  
  </div>
  </mat-drawer>


  <mat-drawer-content><mat-card><h1 class="timerHeader">TIME:</h1>
  <h2 id="timer">0:00</h2>
  </mat-card>
  </mat-drawer-content>
  
</mat-drawer-container> -->



<!--Navbar once completed will go here-->
<mat-card class="formContainer">
  <form>
  <h1 class="setHeader">Set Up Game</h1>

  <div class="halfContainer">
    <h2 class="matchesHeader">Number of Matches:</h2>
    <mat-radio-group aria-label="Select an option" >
      <mat-radio-button value="2" class="matchOption">2</mat-radio-button>
      <mat-radio-button value="4" class="matchOption">4</mat-radio-button>
      <mat-radio-button value="6" class="matchOption">6</mat-radio-button>
      <mat-radio-button value="8" class="matchOption">8</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="secondHalf">
    <h2 class="setheader">Set Selection:</h2>
    <mat-form-field appearance="fill">
      <mat-label>Choose a card set</mat-label>
      <mat-select>
        <mat-option *ngFor="let set of sets" [value]="set.value">
          {{set.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <h2 class="playerSelectHeader">Select Players:</h2>
  <p>Choose up to 4</p>
    <section class="playerSelect">
      <mat-checkbox class="playerBoxes">usernameOne</mat-checkbox>
      <mat-checkbox class="playerBoxes">usernameTwo</mat-checkbox>
      <mat-checkbox class="playerBoxes">usernameThree</mat-checkbox>
      <mat-checkbox class="playerBoxes">usernameFour</mat-checkbox>
    </section>

<div class="startButton">
  <button id="start" mat-button color="primary">Start Game</button>
</div>
    

</form>
</mat-card>

<!-- </mat-drawer-container> -->
