<router-outlet style="height: 100%;"></router-outlet>

  <mat-drawer-container class="sidenav">
<mat-drawer-container class="sidenav">
  <mat-drawer mode="side" opened>
    <div class="mainSideContainer">
      <div class="playersContainer">
    <h1 class="players">Players</h1>

    <mat-list *ngFor='let player of players'>
      <mat-list-item>
        {{player.username}}
        Matches Found: {{player.score}}
      </mat-list-item> 
     </mat-list>
  </div>


  <div class="gameInfo">
   <h1 class="matchesLeft">MATCHES LEFT:</h1> 
    <div id="matchesLeftId">{{sideMatchNum}}</div>

    <h1 class="totalRounds">TOTAL ROUNDS PLAYED:</h1>
    <div id="totalRoundsId">8</div>
  </div>
  
  </div>
  </mat-drawer>

</mat-drawer-container>