/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Recursive', sans-serif;
    background-image: url('../src/assets/poke-background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.mat-simple-snackbar {
    font-family: 'Recursive', sans-serif;
}

.mat-button {
    font-family: 'Recursive', sans-serif;
}

.mat-snack-bar-container {
    background: navy;
    color: white;
    font-family: 'Recursive', sans-serif;
}

.mat-simple-snackbar-action {
    color: white;
    font-family: 'Recursive', sans-serif;
}
