mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-card-title {
    font-weight: bold;
}

.user-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.win-loss-lists {
    display: flex;
    flex-direction: row;
}
