
<mat-card>
    <mat-card-title>User Profile</mat-card-title>
    <mat-card-content>
        <div class="user-stats">
            <p>Username:<span id="usernameStats" >{{currentUserName}}</span></p>
            <p>Total Games Played:<span></span></p>
            <p>Games Won: <span></span></p>
            <p>Games Lost: <span></span></p>
        </div>
        <div class="win-loss-lists">
            <ul id="usersList1">Players You've Defeated:
                <li class="usernameOnList"></li>
                <li class="usernameOnList"></li>
                <li class="usernameOnList"></li>
            </ul>
            <ul id="usersList2">Players Who've Defeated You:
                <li class="usernameOnList"></li>
                <li class="usernameOnList"></li>
                <li class="usernameOnList"></li>
            </ul>
        </div>
    </mat-card-content>
</mat-card>