<mat-card>
    <mat-card-title>User Profile</mat-card-title>
    <mat-card-content>
        <div class="user-stats">
            <p>Username: user72</p>
            <p>Total Games Played: 19</p>
            <p>Games Won: 12</p>
            <p>Games Lost: 7</p>
        </div>
        <div class="win-loss-lists">
            <ul>Players You've Defeated:
                <li>user26</li>
                <li>user43</li>
                <li>user81</li>
            </ul>
            <ul>Players Who've Defeated You:
                <li>user53</li>
                <li>user64</li>
                <li>user71</li>
            </ul>
        </div>
    </mat-card-content>
</mat-card>